.nav-item:hover{
        background-image: linear-gradient(to left,yellow,#8958a6);
        color: black;
        border-radius: 10px;
      }
      .card:hover{
        background-image: linear-gradient(to left,cyan,yellow);
        color: white;
        -ms-transform:scale(1.1);
        transform: scale(1.1);
        -webkit-transform:scale(1.1);

      }
      .zoom{
        padding: 70px;
        background-color: green;
        transition:transform.2s;
        width: 200%;
        height: 200px;
        margin:0 ml-auto;
      }
      .zoom:hover{
         -ms-transform:scale(1.1);
        transform: scale(1.1);
         -webkit-transform:scale(1.1);
      }
      .card{
        border: none;
      }


.nav-item
{
  font-size: 12px;
  padding: 5px;
}
.nav-link:hover
{
  background-color:black;
  border-radius: 10%;
}
.titleimage
{
  height: 50px;
  width: 150px;
}


.page-2
{
  background-color: #a6a6a6;
}
.page-3
{
  background-color: #a6a6a6;
}
.pagetxt-3
{
  font-size: 15px;
}
.singaporehome
{
  margin-top: 50px;
}
.overlay
{
  position: absolute;
    display: flex;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    text-align: center;
}



 .form-section{
            margin-left:400px;
            border: 5px solid darkcyan;
            width: 300px;
            text-align: center;
            border-radius: 9px;
            background-position: center;
        

        }
       
body{
  padding:0;
  margin:0;
}
